html {
	height: 100%;
	overflow: hidden;

}

@keyframes slide-bg-in {
	from {
		background-position: -60% 0%;
	}

	to {
		background-position: 50% 0%;
	}
}

body {
	font-family: 'Roboto';
	background: black;
	color: #fff;
	height: 100%;
	background-image: url(/images/pac-man-bg.svg);
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-color: #000;
	overflow: hidden;
	height: 100%;
	animation: slide-bg-in 1.5s ease-out;
}




body {}

#splash-screen {
	background-image: url(/images/pack-man-splash.png);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
	animation-name: pan-out;
	animation-duration: 10s;
	animation-timing-function: linear;
	background-size: contain;
	transform: scale(1.1) translateX(-2000px);
}


@font-face {
	font-family: gameFont;
	src: url(/fonts/gomarice_game_continue_03.ttf);
}

@font-face {
	font-family: pacman;
	src: url(/fonts/pac.ttf);
}

@font-face {
	font-family: atari;
	src: url(/fonts/atari.ttf);
}


h1 {
	font-family: atari;
	font-size: 56px;
	margin: 0;
}

h2,
h3,
h4 {
	font-family: atari;
	margin: 0;
}

.pac-font {
	font-family: pacman;
	line-height: 37px;
	color: rgb(255, 217, 32) !important;
	text-shadow: 1px 1px 1px #082030;
	font-size: 38px;
	line-height: 47px;
}

.hide-by-default {
	display: none;
}

#match-list li {
	list-style: none;
	/* border-bottom: 1px dotted rgba(255,255,255,.5); */
	border: 3px solid #276873;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 31px 0px rgba(39, 104, 115, 1);
	padding-top: 10px;
	padding-bottom: 10px;
}

#match-list li p {
	margin-top: 3px;
	margin-bottom: 3px;
}

#leader-board li {
	list-style: none;
	/* border-bottom: 1px dotted rgba(255,255,255,.5); */
	border: 3px solid #276873;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 31px 0px rgba(39, 104, 115, 1);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

#leader-board li p {
	margin-top: 3px;
	margin-bottom: 3px;
}

#game-over-display {
	display: none;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .1);
	width: 100%;
	max-width: 700px;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	margin-top: 40px;
	box-shadow: 0px 0px 41px 0px rgba(39, 104, 115, 1);
	background-color: rgba(60, 60, 60, 1);
}


#demo-loop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

#demo-loop canvas {
	height: 2100px;
	width: 2100px;
	margin: 0 auto;
	display: table;
}

#gameCanvas {
	height: 800px;
	margin: 20px;
	width: 800px;
	/* background-color: rgba(0, 0, 0, 1); */
	/*border: 2px solid #808080;*/
	display: table;
	margin: 0 auto;
	margin-top: 30px;
	padding: 2px;
	/*background-image: url('/images/pac-man-game-board.svg');*/
}

.countdown-text {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
}

#scoreBox {
	box-shadow: 0px 0px 10px 0px #031f03;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 40px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid blue;
	margin-top: 29px;
	display: none;
}

#time-box {
	box-shadow: 0px 0px 10px 0px #031f03;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px;
	margin-right: 20px;
	margin-left: 40px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid blue;
	margin-top: 29px;
	display: none;
}

#scoreTitle {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-size: 24px;
}

#livesCanvas {
	width: 250px;
	height: 100px;
}

#registration {
	background-color: black;
	position: absolute;
	height: 300px;
	width: 500px;
	left: calc(50% - 273px);
	top: calc(50% - 173px);
	z-index: 10;
	border: 3px solid #276873;
	border-radius: 7px;
	padding: 20px;
	box-shadow: 0px 0px 31px 0px rgba(39, 104, 115, 1);
}

#registration input {
	background: rgba(255, 255, 255, .2);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 3px;
	color: rgba(255, 255, 255, .7);
	margin-top: 10px;
	margin-bottom: 30px;
}

#pac-main-reg-img {
	height: 95px;
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
}

.data-label {
	color: #276873;
	text-transform: uppercase;
	font-style: italic;
}

#registration h1 {
	text-align: left;
	color: #276873;
}

input {
	font-size: 20px;
	width: calc(100% - 20px);
	padding: 5px;
	color: rgba(0, 0, 0, .6);

}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
	background-color: #599bb3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
	display: table;
	margin: 0 auto;
	margin-top: 10px;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
	background-color: #408c99;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.myButton:disabled {
	background: rgba(0, 0, 0, .4);
	cursor: default;
	box-shadow: none;
}

.myButton.selected {
	background: orange;
}

#waiting-step {
	display: none;
	font-size: 36px;
	color: rgb(0, 0, 255)
}

#game-message {
	display: none;
	text-align: center;
}

#game-message.display {
	display: block;
	animation: slide-in-from-bottom .5s ease-out;
}

#v-v {
	text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes pan-out {
	from {
		transform: scale(1) translateX(0px);
	}

	90% {
		transform: scale(1.09) translateX(0px);
	}

	95% {
		transform: scale(1.095) translateX(-2000px);
	}

	100% {
		transform: scale(1.1) translateX(-2000px);
	}
}

@keyframes slide-in-from-bottom {
	from {
		transform: scale(2) translateY(300px);
		opacity: 0;
	}
	to {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
}

.slide-in-from-bottom {
	animation: slide-in-from-bottom .5s ease-out;
}

@keyframes expand {
	from {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(10);
		opacity: 0;
	}
}

@keyframes blink {
	from {
		opacity: 1;

	}

	to {
		opacity: .5;
	}
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateY(-300px) scale(.5) perspective(10px) rotateX(1deg);
	}

	to {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

.slide-in {
	animation: slide-in .5s ease-out;
}

.blink {
	animation: blink .5s ease-out;
	animation-iteration-count: infinite;
}

.expand {

	animation: expand 1s ease-out;
	transform-origin: 50% 50%;
}

.flex-container {
	display: flex;
}

.flex-container>div {
	flex: 1;
}

.flex-none {
	flex: none !important;
}

.left-margin-20 {
	margin-left: 20px;
}

.bottom-margin-20 {
	margin-bottom: 20px;
}

.top-margin-20 {
	margin-top: 20px;
}